torch>=2
torchvision
tensorboard
wandb
iopath
pyyaml
numpy
opencv-python
submitit
braceexpand
webdataset
timm
transformers
peft
decord
pandas
einops
beartype
psutil
h5py
fire
python-box
scikit-image
ftfy
jupyter
lerobot @ git+https://github.com/huggingface/lerobot@0cf864870cf29f4738d3ade893e6fd13fbd7cdb5